* {
  border: none;
  border-radius: 8px;
  font-family: "Monofur Nerd Font";
  font-size: 16px;
  min-height: 10px;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.999);
  border: 1.5px solid #7dc4e4;
}

#bluetooth {
  color: #8aadf4;
  margin: 0px 8px 0px 2px;
  font-size: 18px;
}

#bluetooth.disabled {
  color: #778899;
}

#backlight {
  color: #fbecc9;
  margin: 0px 12px 0px 2px;
  font-size: 18px;
}

#pulseaudio {
  color: #afd0fc;
  margin: 0px 8px 0px 5px;
  font-size: 18px;
}

#pulseaudio.muted {
  color: #eba0ac;
  margin: 0px 15px 0px 10px;
}

#network {
  color: #afd0fc;
  font-size: 18px;
  border-radius: 100%;
  margin: 0px 12px 0px 5px;
}

#network.disconnected {
  color: #eba0ac;
}

#custom-separator {
  font-weight: bold;
  font-size: 27px;
  color: #778899;
}

#battery {
  border-radius: 16px;
  margin: 0px 14px 0px 5px;
  font-size: 22px;
  color: #c8f0c7;
}

#battery.critical {
  color: #eba0ac;
}

#custom-power {
  margin: 0px 10px 0px 0px;
}

#custom-notification {
  color: #478061;
  margin: 0px 0px 0px 10px;
}

#workspaces {
  font-size: 27px;
  font-weight: bold;
  margin: 0px 5px 0px 6px;
}

#workspaces button {
  background: transparent;
  margin: 0px 5px 0px 0px;
  color: #fbecc9;
}

#workspaces button.focused {
  background: transparent;
  color: #fbecc9;
}

#tray {
  margin: 0px 10px 0px 5px;
}
